/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */

.App {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

.header {
  width: 100%;
}

.header h1 {
  text-align: center;
}

.map-container {
  position: relative;
  height: 100%;
  width: 70%;
}

.map-loader {
  position: absolute;
  top: 25%;
  right: 50%;
}

.location-container {
  width: 28%;
  padding: 0 1%;
}

.info-window {
  max-width: 200px;
}

.info-window img {
  height: 120px;
  width: 100%;
}

.material-icons {
  font-size: 22px;
}

.rating-filter {
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
}

.rating-filter,
.rating-filter select {
  font-size: 0.9rem;
  width: 100%;
}

select:focus {
  outline: none;
}

.rating-filter select {
  height: 34px;
  padding: 5px 0 5px 5px;
  background: transparent;
  border: none;
  /*hide default down arrow in webkit */
  -webkit-appearance: none;
}

.location-list {
  list-style-type: none;
  padding: 0 5px 0 0;
  height: 550px;
  overflow-y: auto;
}

.location-list li:hover {
  background-color: #67676733;
}

.location-list li {
  padding: 15px 0;
  border-bottom: 1px solid #676767a6;
}

.location-list p {
  margin: 0.3em 0.2em 0.3em 0.2em;
}

.location-list h2 {
  margin: 0.3em 0.2em 0.3em 0.2em;
}

/* Always set the map height explicitly to define the size of the div
  * element that contains the map. */

#map {
  height: 100%;
  min-height: 600px;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
